.react-datepicker {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 0.005rem !important;
}

.react-datepicker-popper {
  z-index: 3;
}

.react-datepicker__time-container {
  width: 60px; 
}

.react-datepicker__time-container 
.react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: unset;
  padding-right: unset;
  width: 60px;
}
