// TERMS FONT
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700&family=Nanum+Gothic:wght@400;700&display=swap");
@import "./common.scss";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mQ($arg) {
  @media only screen and (max-width: $arg) {
    @content;
  }
}

.Signup {
  width: 100%;
  background-color: #ffffff;
  font-family: "Gothic A1", sans-serif;
  @include flex-center;
  .signupContainer {
    .signupBoard {
      background-color: $color-white;
      display: flex;
      flex-direction: column;
      align-items: center;
      .joinInfoBoard {
        min-width: 260px;
        .infoSection {
          margin: 0px auto;
          .joinInfoWrap {
            width: inherit;
            .joinInfoTitle {
              padding: 5px 0 15px 0;
              height: 45px;
              border-bottom: 2px solid $color-black;
              .infoTitle {
                font-size: 15px;
                font-weight: 700;
                display: flex;
                justify-content: space-between;
              }
            }
            .firstAgreement {
              width: inherit;
              display: flex;
              justify-content: space-between;
              font-size: 14px;
              font-weight: 600;
              border-bottom: 1px solid rgb(244, 244, 244);
              padding-bottom: 8px;
              padding-top: 10px;
              .keyAgreement {
                padding-top: 32px;
              }
              .valueAgreement {
                padding-top: 32px;
                span {
                  bottom: 0;
                  display: flex;
                  align-items: center;
                  input {
                    outline: none;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: 6px;
                    cursor: pointer;
                  }
                }
              }
            }
            .secondAgreement {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 14px;
              font-weight: 600;
              padding-bottom: 8px;
              border-bottom: 1px solid rgb(244, 244, 244);
              .keyAgreement {
                padding-top: 32px;
              }
              .valueAgreement {
                padding-top: 32px;
                span {
                  bottom: 0;
                  display: flex;
                  align-items: center;
                  input {
                    outline: none;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: 6px;
                    cursor: pointer;
                  }
                }
              }
            }
            .secondAgrForm {
              font-size: 13px;
              border-bottom: 1px solid rgb(244, 244, 244);
              line-height: 20px;
              .thirdAgreement {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 5px;
                .keyAgreement {
                  padding-top: 32px;
                }
                .valueAgreement {
                  padding-top: 32px;
                  span {
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    input {
                      outline: none;
                      margin-top: 0;
                      margin-bottom: 0;
                      margin-left: 6px;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
            .thirdAgrForm {
              ::-webkit-scrollbar {
                display: none;
              }
            }
          }
        }
      }
    }
  }

}